<div class="roomActionsRow">
    <div class="left">
    </div>
    <div class="center">
        <h1>Sign In</h1>
    </div>
    <div class="right">
        
    </div>
</div>

<%= form_with(url: session_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, required: true %>
    
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>

    <%= f.submit "Sign In" %>
<% end %>

<div style="text-align: center;">
    No account yet? <%= link_to "Sign up!", signup_path %>
</div>