<div class="bookingListingCard">
    <div class="left">
        <div class="booking-date"><%= booking.start_time.strftime("%a, %d %b") %></div>
    </div>
    <div class="right">
        <div>
            <div class="title"><%= booking.title %></div>
            <div class="timing-booked-by"><%= booking.start_time.strftime("%I:%M %P") %> - <%= booking.end_time.strftime("%I:%M %P") %></div>
            <div class="timing-booked-by"><%= booking.booked_by %></div>
        </div>
        <div class="desc"><%= booking.description %></div>
    </div>
    <div class="" style="display: flex; flex-direction: column; gap: 4px; width: 200px;">
        <div class=""><%= booking.room.name %></div>
        <div>
            <div class="badge"><%= booking.room.room_type %></div>
        </div>
    </div>
</div>