<div class="bookListingCard">
    <div class="left">
        <div class="booking-date"><%= booking.start_time.strftime("%a, %d %b") %></div>
    </div>
    <div class="right">
        <div>
            <div class="title"><%= booking.title %></div>
            <div class="timing-booked-by"><%= booking.start_time.strftime("%I:%M %P") %> - <%= booking.end_time.strftime("%I:%M %P") %></div>
            <div class="timing-booked-by"><%= booking.booked_by %></div>
        </div>
        <div class="desc"><%= booking.description %></div>
    </div>
    <div><%= link_to "Edit", edit_room_booking_path(@room, booking) %> &bull; <%= link_to "Delete!", room_booking_path(@room, booking), data: {turbo_method: :delete, turbo_confirm: "Are you really sure?" }, class: "button" %></div>
</div>