<div class="userListingCard">
    <div>
        <span class="userAvatar"><%= get_initials(user) %></span>
    </div>
    <div style="flex-grow: 1; display: flex; flex-direction: column; gap: 4px;">
        <div><span style="font-size: 18px; font-weight: 700;"><%= user.name %></span>, <span style="font-size: 18px;"><%= user.organization %></span></div>
        <span style="color: #64748b; font-size: 14px;"><%= user.email %></span>
    </div>
    <div>
        <%= link_to "Edit", edit_user_path(user) %> &bull; <%= link_to "Delete!", user_path(user), data: {turbo_method: :delete, turbo_confirm: "Are you really sure?" } %>
    </div>
</div>