<nav class="breadcrumb" aria-label="Breadcrumb">
    <ol class="">
        <li class="">
            <%= link_to "Rooms", rooms_path, class: ""%>
        </li>
        <li>
            /
        </li>
        <li aria-current="page" class=""><%= @room.name%></li>
    </ol>
</nav>
    
<div class="roomActionsRow">
    <div class="left">
        <%= link_to "New booking", new_room_booking_path(@room), class: "buton pri" %>
    </div>
    <div class="center">
        <h1><%= @room.name %></h1>
        <div class="badge"><%= @room.room_type %></div>
    </div>
    <div class="right">
        <div><%= link_to "Edit", edit_room_path, class: "buton outlined" %></div>
        <div><%= link_to "Delete!", @room, data: {turbo_method: :delete, turbo_confirm: "Are you really sure?" }, class: "buton outlined" %></div>
    </div>
</div>

<% if @bookings.present? %>
    <p><%= pluralize(@bookings.size, "Booking") %></p>
    <% @bookings.order("start_time").each do |booking| %>
        <ul>
            <li>Booked by: <%= booking.booked_by %></li>
            <li>Purpose: <%= booking.title %></li>
            <li>Description: <%= booking.description %></li>
            <li>Start datetime: <%= booking.start_time.strftime("%b %d, %y at %I:%M %P") %></li>
            <li>End datetime: <%= booking.end_time.strftime("%b %d, %y at %I:%M %P") %></li>
            <li><%= link_to "Edit", edit_room_booking_path(@room, booking) %></li>
            <li><%= link_to "Delete!", room_booking_path(@room, booking), data: {turbo_method: :delete, turbo_confirm: "Are you really sure?" }, class: "button" %></li>
        </ul>
    <% end %>
<% else %>
    <p>No bookings</p>
<% end %>