<nav class="breadcrumb" aria-label="Breadcrumb">
    <ol class="">
        <li class="">
            <%= link_to "Rooms", rooms_path, class: ""%>
        </li>
        <li>
            /
        </li>
        <li aria-current="page" class=""><%= @room.name%></li>
    </ol>
</nav>
    
<div class="roomActionsRow">
    <div class="left">
        <%= link_to "New booking", new_room_booking_path(@room), class: "buton pri" %>
    </div>
    <div class="center">
        <div><h1><%= @room.name %></h1></div>
        <div><div class="badge"><%= @room.room_type %></div></div>
    </div>
    <div class="right">
        <div><%= link_to "Edit", edit_room_path, class: "buton outlined" %></div>
        <div><%= link_to "Delete!", @room, data: {turbo_method: :delete, turbo_confirm: "Are you really sure?" }, class: "buton outlined" %></div>
    </div>
</div>

<div style="flex-grow: 2; display: flex; flex-direction: column; gap: 8px; margin: 0 60px;">
    <% if @bookings.where("start_time > ?", Time.now).present? %>
        <% @bookings.where("start_time > ?", Time.now).order("start_time").each do |booking| %>
            <%= render "/bookings/listing_card_in_room", booking: booking %>
        <% end %>
    <% else %>
        <div style="text-align: center; font-style: italic; color: #656565;">No upcoming bookings</div>
    <% end %>
</div>
