<header style="">
    <nav class="">
        <div class="left">
            <span style="font-size:28px; font-weight:700;">MEETZ</span>
            <ul>
                <li><%= link_to "Rooms", rooms_path %></li>
                <li><%= link_to "Upcoming", bookings_path %></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <% if current_user %>
                    <li><%= link_to "Users", users_path %>
                    <li>
                        <div style="display: flex; align-items: center; gap: 4px;">
                            <span class="userAvatar small"><%= get_initials(current_user.name) %></span>
                            <%= link_to current_user.name, current_user %>
                        </div>
                    </li>
                    <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                    <li><%= link_to "Sign Out", session_path, data: { turbo_method: :delete } %></li>
                <% else %>
                    <li><%= link_to "Sign In", signin_path, class: "button" %></li>
                    <li><%= link_to "Sign Up", signup_path, class: "button" %></li>
                <% end %>
            </ul>
        </div>
    </nav>
</header>